.menu {
  position: absolute;
  background-color: white;
  border: solid black 1px;
  border-radius: 0.8rem;
  color: black;
  padding: 0.5rem;
  right: 0%;
  top: 108%;
  width: 200px;
  display: flex;
  gap: 10px;
  flex-direction: column;  
}
